Node_RED/node_red_flow.json
[
    {
        "id": "b0cce529.a07978",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "901b2431.469e78",
        "type": "function",
        "z": "b0cce529.a07978",
        "name": "",
        "func": "msg.payload=msg.payload.input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 357,
        "y": 370.20001220703125,
        "wires": [
            [
                "23b892ea.d1df9e",
                "c6f2275a.6b8c18"
            ]
        ],
        "l": false
    },
    {
        "id": "5d228ad2.2871f4",
        "type": "function",
        "z": "b0cce529.a07978",
        "name": "bot",
        "func": "var message = \"\";\n\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.passages){\n        message = message + msg.payload.context.webhook_result_1.passages[i].passage_text + \"\\n\";\n    }\n    \n    msg.payload = message;\n}\n\nelse\nmsg.payload=msg.payload.output.text[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 575,
        "y": 360,
        "wires": [
            [
                "4287d520.39b30c",
                "700fb68a.a0c7b8"
            ]
        ],
        "l": false
    },
    {
        "id": "4287d520.39b30c",
        "type": "debug",
        "z": "b0cce529.a07978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 672.600058555603,
        "y": 439.20001888275146,
        "wires": [],
        "l": false
    },
    {
        "id": "4ee6bea3.38f69",
        "type": "inject",
        "z": "b0cce529.a07978",
        "name": "",
        "topic": "hi",
        "payload": "how to setup wifi?",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 199.60000610351562,
        "y": 256.4000015258789,
        "wires": [
            [
                "901b2431.469e78"
            ]
        ],
        "l": false
    },
    {
        "id": "1a59ae2d.572db2",
        "type": "ui_form",
        "z": "b0cce529.a07978",
        "name": "",
        "label": "",
        "group": "2d8b4285.8eaf4e",
        "order": 1,
        "width": 16,
        "height": 2,
        "options": [
            {
                "label": "enter text here",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 196,
        "y": 383.20001220703125,
        "wires": [
            [
                "901b2431.469e78"
            ]
        ],
        "l": false
    },
    {
        "id": "ac5497f2.2b05a8",
        "type": "ui_text",
        "z": "b0cce529.a07978",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": -13,
        "y": 397,
        "wires": [],
        "l": false
    },
    {
        "id": "23b892ea.d1df9e",
        "type": "watson-conversation-v1",
        "z": "b0cce529.a07978",
        "name": "chatbot",
        "workspaceid": "d0bac28c-f5be-47d1-b707-c9cc76c216a4",
        "multiuser": false,
        "context": true,
        "empty-payload": true,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fe3c27e3-a743-414f-9160-2dc4db6908d9",
        "timeout": "",
        "optout-learning": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "5d228ad2.2871f4"
            ]
        ]
    },
    {
        "id": "c6f2275a.6b8c18",
        "type": "ui_text",
        "z": "b0cce529.a07978",
        "group": "2d8b4285.8eaf4e",
        "order": 2,
        "width": 16,
        "height": 1,
        "name": "User Dialouge",
        "label": "You",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "700fb68a.a0c7b8",
        "type": "ui_text",
        "z": "b0cce529.a07978",
        "group": "2d8b4285.8eaf4e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Chatbot Dialouge",
        "label": "Chatbot",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "2d8b4285.8eaf4e",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "a5fb7e71.d3336",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "a5fb7e71.d3336",
        "type": "ui_tab",
        "z": "",
        "name": "Chatbot",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
