Node_RED/node_red_flow.json
[{"id":"b0cce529.a07978","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"901b2431.469e78","type":"function","z":"b0cce529.a07978","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":370.20001220703125,"wires":[["23b892ea.d1df9e"]],"l":false},{"id":"5d228ad2.2871f4","type":"function","z":"b0cce529.a07978","name":"bot","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":543,"y":369.20001220703125,"wires":[["fb16e29a.3be9f","4287d520.39b30c"]],"l":false},{"id":"4287d520.39b30c","type":"debug","z":"b0cce529.a07978","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":672.600058555603,"y":439.20001888275146,"wires":[],"l":false},{"id":"4ee6bea3.38f69","type":"inject","z":"b0cce529.a07978","name":"","topic":"hi","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199.60000610351562,"y":256.4000015258789,"wires":[["901b2431.469e78"]],"l":false},{"id":"1a59ae2d.572db2","type":"ui_form","z":"b0cce529.a07978","name":"","label":"","group":"2d8b4285.8eaf4e","order":2,"width":0,"height":0,"options":[{"label":"enter text here","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":196,"y":383.20001220703125,"wires":[["901b2431.469e78"]],"l":false},{"id":"ac5497f2.2b05a8","type":"ui_text","z":"b0cce529.a07978","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"fb16e29a.3be9f","type":"ui_text","z":"b0cce529.a07978","group":"2d8b4285.8eaf4e","order":3,"width":"6","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":676,"y":362.20001220703125,"wires":[],"l":false},{"id":"23b892ea.d1df9e","type":"watson-conversation-v1","z":"b0cce529.a07978","name":"chatbot","workspaceid":"d0bac28c-f5be-47d1-b707-c9cc76c216a4","multiuser":false,"context":true,"empty-payload":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fe3c27e3-a743-414f-9160-2dc4db6908d9","timeout":"","optout-learning":false,"x":460,"y":300,"wires":[["5d228ad2.2871f4"]]},{"id":"2d8b4285.8eaf4e","type":"ui_group","z":"","name":"Default","tab":"a5fb7e71.d3336","order":1,"disp":true,"width":"6","collapse":false},{"id":"a5fb7e71.d3336","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
